*{
    margin: 0;
    padding: 0;
    text-decoration: nome;
    list-style: none;
}
.container{
    margin-top: 100px;
}
#header img{
    margin-left: 50px;
    width: 13%;
    height: 13%;
    
}

#header{
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px;
    
}
 a{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #AEEA0A;
    margin-right: 80px;
    
}


#menu ul{
    display: flex;
    margin-right: 70px;
    margin-bottom: -2px;    

}


.error{
    border: solid 1px red;
}



@media (max-width: 920px){
#menu{
    display: none;
}


}

@media (max-width: 620px){

#header img{
    width: 23%;
    height: 23%;
}

}

